body {
    background-color: #e5f0ff;
}
.block{
    display: flex;
    gap: 20px;
}
.menu {
    background-color: #fff; 
    color: #4869D9; 
    width: 250px;
    height: 300px; 
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
}
.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    
    text-decoration: none;
    color: #4869D9; 
    font-weight: bold;
    display: block; 
    padding: 5px;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10px;
}
.menu ul li a:hover {
    background-color: #4869D9; 
    color: #fff; 
}


.menu ul li a:not(.active) {
    color: #4869D9; 
}
.menu ul li a .material-symbols-outlined {
margin-right: 10px;
}

.content {
    display: inline;
    width: 1000px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
}

#delete {
    background-color: #ff0000; 
    color: #fff;
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
   
}

#edit {
    background-color: rgb(255, 255, 53);
    color: #fff; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
   
}

.search-bar {
    width: 100%; 
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
   
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #eeeeee;
}





